<html>
<body>
<h1>   Delete Milestone</h1>
<form action="/deleteMilestone" method="POST">

{{#milestoneList}}<input type="radio" name="msgId" value="{{id}}">
    {{title}}
    {{description}}
{{/milestoneList}}
        <input type="hidden" name="method" value="delete">
        <input type="submit" value="Delete" style="margin-top:1em;"/>

</form>

<p><a href="/plannerHomepage">Home</a></p>
</body>
</html>