<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Shop Demo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/pickPlanner">Milestone Planner <i class="fa fa-home" style="color:white;"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Log Out</button>
        </form>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <br> <br>
        <h1 class="display-4">Delete Milestone</h1>
    </div>
</div>
<div class="container">
    <form class="input-group mb-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="txtSearch">
    </form>


<form action="/deleteMilestone" method="POST">
    <div class="row">
        {{#milestoneList}}
    <div class ="col-md-4 milestoneCard">
        <div class="card card-body bg-light" style="margin-bottom: 1em">
            <h4 style="font-weight: normal;"><input type="radio" name="msgId" value="{{id}}"> {{title}}</h4>
    </div>
        </div>

{{/milestoneList}}
    </div>

        <input type="hidden" name="method" value="delete">
        <input type="submit" role="button" class="btn btn-primary btn-lg bn-block col-md-12" value="Delete" style="margin-bottom:0.5em;"/>
        <a role="button" onclick="goBack()" class="btn btn-primary btn-lg bn-block col-md-12" style="color:white;">Back</a>

</form>
</div>
</body>
<script>
    $(document).ready(function(){
        $("#txtSearch").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $(".milestoneCard").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</html>