<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Shop Demo">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="../webapp/styleSheet.css">
        <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
    </script>
    <script>
        function checkInp()
        {
            var x=document.forms["editMilestone"]["id"].value;
            if (isNaN(x))
            {
                alert("Must input ID number");
                return false;
            }
        }
    </script>
    </head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/pickPlanner">Milestone Planner <i class="fa fa-home" style="color:white;"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-danger my-2 my-sm-0" href="/logout">Log Out</a>
        </form>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <br> <br>
        <h1 class="display-4">Edit Milestone</h1>
    </div>
</div>
<div class="container">
    <form class="input-group mb-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="txtSearch">
    </form>
    <div class="row">
    {{#milestoneList}}
    <div class ="col-md-4 milestoneCard">
    <div class="card card-body bg-light" style="margin-bottom: 1em">
    <h4 style="font-weight: normal;">ID: {{id}} {{title}}</h4>
    <p>{{description}}</p>
    </div>
    </div>
    {{/milestoneList}}
    </div>

<form method="POST" onsubmit="return checkInp()" action="/editMilestone" name="editMilestone">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="id">Enter ID Of Milestone to Update</label>
            <input type="text" class="form-control" id="id" name="id" placeholder="Enter ID" required>
        </div>
        <div class="form-group col-md-6">
            <label for="etitle">Edit Title</label>
            <input type="text" class="form-control" id="etitle" name="etxtTitle" placeholder="Enter new Title" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="edescription">Edit Description</label>
            <input type="text" class="form-control" id="edescription" name="etxtDescription" placeholder="Enter new Description" required>
        </div>
        <div class="form-group col-md-6">
            <label for="datepicker">Edit Due Date</label>
            <input type="text" class="form-control" name="etxtDueDate" id="datepicker" placeholder="Enter new Due Date" required>
        </div>
    </div>

        <input type="hidden" name="method" value="go">
        <input role="button" class="btn btn-primary btn-lg btn-block" type="submit" value="Update Milestone" style="margin-top:1em;"/>
    </form>
</div>
</body>
<script>
    $(document).ready(function(){
        $("#txtSearch").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $(".milestoneCard").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</html>
