<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Shop Demo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/pickPlanner">Milestone Planner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item active">-->
                <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Placeholder</a>-->
            <!--</li>-->
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-danger my-2 my-sm-0" href="/logout">Log Out</a>
        </form>
    </div>
</nav>

<br> <br>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{plannerName}}</h1>
    </div>
</div>

<div class="container">

<!--<div class="row">-->

<!--<div class="col-md-4">-->
<!--<div class="card card-body bg-light">-->
    <!--<h3>{{plannerName}}</h3>-->
    <!--{{#milestone}}-->
<!--<div class="border border-primary">-->
        <!--<h4>{{title}}</h4>-->
        <!--<p>{{description}}</p>-->
<!--</div>-->
        <!--<br>-->
    <!--{{/milestone}}-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
    {{^milestone}}
        There are no Milestones yet
    {{/milestone}}
    <div class="row">
        {{#milestone}}
        <div class="col-md-4">
            <div class="card card-body bg-light" style="margin-bottom: 1em;">
                        <h3>{{title}}</h3>
                        <p>{{description}}</p>
                        <p>Due date:{{dueDate}}</p>
                        <p>Completed date:{{compDate}}</p>

                <form action="/plannerHomepage" method="POST">
                    <input type="hidden" name="compId" value="{{id}}">
                    <input type="submit" role="button" class="btn btn-primary btn-lg" value="completed" style="margin-top:1em;"/>
                </form>
            </div>
        </div>



        {{/milestone}}



    </div>

    <!--<div class="row">-->
        <!--{{#plannerList}}-->
            <!--<div class="col-md-4">-->
                <!--<div class="card card-body bg-light">-->
                    <!--<h3>{{plannerName}}</h3>-->
                    <!--{{#milestone}}-->
                        <!--<div class="border border-primary">-->
                            <!--<h4>{{title}}</h4>-->
                            <!--<p>{{description}}</p>-->
                        <!--</div>-->
                        <!--<br>-->
                    <!--{{/milestone}}-->
                <!--</div>-->
            <!--</div>-->

        <!--{{/plannerList}}-->
    <!--</div>    -->

<br>


<!--<br>-->
<!--<h1>empty map bellow</h1>-->
<!--<br>-->
<!--{{.}}-->
<!--<br>-->
<!--<h1>milestones</h1>-->

<br>


    <a role="button" type="button" class="btn btn-primary btn-lg" href = "/pickPlanner">Pick Planner</a>
    <a role="button" type="button" class="btn btn-primary btn-lg" href = "/createMilestone">Add Milestone</a>


    <a role="button" type="button" class="btn btn-primary btn-lg" href = "/editMilestone">Edit Milestone</a>
    <a role="button" type="button" class="btn btn-primary btn-lg" href = "/deleteMilestone">Delete Milestone</a>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>