<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Planner Form</h1>

<h1>{{plannerName}}</h1>


<div>
    <span>Browse Milestones</span>
    <ol id="topics">
        {{# milestone}}
            <li>{{.}}</li>
        {{/ milestone}}
    </ol>
</div>

<h1>Add a planner</h1>
<a href = "/index.html"> Link to Servlet</a>
</body>
</html>