<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Planner name</h1>



{{#plannerList}}
    {{plannerName}}

{{/plannerList}}
<br>
<h1>empty map bellow</h1>
<br>
{{.}}
<br>
<h1>milestones</h1>

<br>
{{#milestone}}
    {{title}}
    {{description}}
{{/milestone}}
<a href = "/index.html"> Link to add a Planner Object</a>
</body>
</html>